<div class='d-flex justify-content-end mb-3'>
    <%= link_to "https://occasion.cultura.com/", target: "_blank", rel: "noopener noreferrer", class: 'c-btn align-right' do %>
        <span class="c-btn__label">learn more on occasion.cultura.com →</span>
    <% end %>
</div>
<div class="row">
    <%= image_tag 'cultura-main-photo.png', alt: "cultura main appearance", width: '100%' %>
</div>
<div class="row my-2 g-5">
    <div class="col-12 col-lg-6">
        <%= image_tag 'cultura-1.png', alt: "cultura mobile view", width: '100%' %>
        <div class="my-5 px-2">
            <h3>Challenges & Solutions</h3>
            <div>
                <p><strong>Starting as an Entrepreneur</strong> - Took on the challenge of leading a project from the ground up, learning to balance both technical and business aspects while focusing on delivering a quality product.</p>
                <p><strong>Building a Tablet-Only App</strong> - Designed and developed an app optimized for tablet use, ensuring a smooth and responsive user experience on larger screens.</p>
                <p><strong>Using Bootstrap</strong> - Utilized Bootstrap to quickly create a responsive layout, ensuring the app was mobile-friendly and visually consistent across devices.</p>
            </div>
        </div>
        <div class="my-5 px-2">
            <h3>Responsibilities</h3>
            <p>
                <strong>Full-Stack Development</strong> - Collaborated with the team on both front-end and back-end development for a web app built with Ruby on Rails.
            </p>
            <p>
                <strong>UX & Graphic Design</strong> - Designed the user experience and created the graphic design solo, ensuring full alignment with the brand’s graphic charter.
            </p>
        </div>
    </div>
    <div class="col-12 col-lg-6">
        <div class='mb-5'>
            <h3>Overview</h3>
            <p>
                Occasion by Cultura is a platform dedicated to offering second-hand items. The project focused on designing and developing a user-friendly webapp that facilitates the buying and selling of pre-owned products, while promoting sustainability and creating a seamless user experience.
            </p>
        </div>
        <%= image_tag 'cultura-2.png', alt: "cultura shop tablet view", width: '100%' %>
        <div class="p-3 d-flex align-items-center justify-content-between my-5">
            <div class="col-md-5 col-lg-4">
                <div class="horizontal-line"></div>
            </div>
            <div class="col-md-7 col-lg-8 pt-3">
                <p>Visit the Cultura website to learn more about this project:</p>
                <%= link_to "https://occasion.cultura.com/", target: "_blank", rel: "noopener noreferrer", class: 'c-btn align-right' do %>
                    <span class="c-btn__label">learn more on occasion.cultura.com →</span>
                <% end %>
            </div>
        </div>
    </div>
</div>