<div class="modal fade project-modal" id="projectModal<%= index %>" tabindex="-1" aria-labelledby="projectModalLabel<%= index %>" aria-hidden="true" data-index="<%= index %>">
    <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
        <div class="modal-body custom-modal-body" data-modal-scroll-target="modalBody">
        <%= render 'projects/partials/modal_header', project: %>
        <p>Details about <%= project %>...</p>
        <div class="modal-scroll-content">
            <p>Scroll down for more content...</p>
            <!-- More content here -->
        </div>
        </div>
    </div>
    </div>
</div>