<div class="d-flex justify-content-end mb-3">
  <%= link_to "https://weatheraiapp-magr-5f58225834ab.herokuapp.com/", target: "_blank", rel: "noopener noreferrer", class: 'c-btn align-right', aria: { label: "Visit WeatherAI App" } do %>
    <span class="c-btn__label">visit weatheraiapp →</span>
  <% end %>
</div>

<div class="container">
  <div class="row g-5 mb-5">
    <%= image_tag 'weatherai-main-photo.webp', alt: "Weather AI main appearance", class: 'w-100' %>
  </div>

  <div class="row g-5">
    <div class="col-12 col-lg-6">
      <%= image_tag 'weatherai-2.webp', alt: 'weatherai tablet format', class: 'w-100' %>
      <div class="p-3 d-flex align-items-center justify-content-between my-5">
        <div class="col-md-5 col-lg-4">
          <div class="horizontal-line"></div>
        </div>
        <div class="col-md-7 col-lg-8 pt-3">
          <p>Visit the WeatherAI app to see the project live:</p>
          <%= link_to "https://weatheraiapp-magr-5f58225834ab.herokuapp.com/", target: "_blank", rel: "noopener noreferrer", class: 'c-btn align-right', aria: { label: "Visit WeatherAI App" } do %>
            <span class="c-btn__label">visit weatheraiapp →</span>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-6">
      <div class="px-2">
        <h3>Overview</h3>
        <p>
          Weather AI is a global weather app built with React, integrating the ChatGPT API and OpenWeather API. It provides real-time weather updates, sunrise and sunset times, and wind conditions.
        </p>
      </div>

      <div class="my-5 px-2">
        <h3>Challenges & Solutions</h3>
        <p><strong>Prompt Construction:</strong> - Crafting effective prompts was tricky. Solved by iterating, testing, and researching best practices.</p>
        <p><strong>Learning React:</strong> - Managing state and API calls was challenging. Overcame it by investigating hooks (useState, useEffect) and component structure.</p>
      </div>

      <div class="my-5 px-2">
        <h3>Responsibilities</h3>
        <p><strong>Learning & Experimentation:</strong> - Explored a new front-end tool while refining development skills.</p>
        <p><strong>Creative Design:</strong> - Had fun crafting a clean, modern interface.</p>
      </div>

      <%= image_tag 'weatherai-1.webp', alt: 'weatherai tablet format', class: 'w-100' %>
    </div>
  </div>
</div>
